<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: 2014 Istituto Nazionale di Fisica Nucleare

SPDX-License-Identifier: Apache-2.0
-->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Check http://logback.qos.ch/manual/layouts.html#AccessPatternLayout to get the meaning of the fields -->
    <!--  
    	%a: remote host IP
        %U: requested resource URL (without query parameters)
    	%s: status code of the response
    	%b: response content length
    	%D: time to serve the request (in milliseconds)
    
     -->
    <encoder>
       <pattern>%replace(%a){'^$','-'} %localPort "%reqAttribute{storm.remoteUser}" %date{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX", UTC} "%reqAttribute{storm.requestId}" "%m %U %H" %s %b %D</pattern>
    </encoder>
  </appender>

  <appender-ref ref="STDOUT" />
</configuration>
