<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <logger name="org.italiangrid.storm.webdav" level="INFO" />
  
  <appender name="FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/var/log/storm/webdav/storm-webdav-server.log</File>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/var/log/storm/webdav/storm-webdav-server.log-%d{yyyyMMdd}.gz</FileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  
  <appender name="ACCESS"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/var/log/storm/webdav/storm-webdav-server-access.log</File>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/var/log/storm/webdav/storm-webdav-server-access.log-%d{yyyyMMdd}.gz</FileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>%h %l %u [%t] "%r" %s %b %D</pattern>
    </encoder>
  </appender>
  
  <logger name="org.italiangrid.storm.webdav.server.RequestLog" level="DEBUG" additivity="false">
    <appender-ref ref="ACCESS"/>
  </logger>
  
  <root level="WARN">
    <appender-ref ref="FILE" />
  </root>
</configuration>
