<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout.html}">

<head>
  <title th:text="${title}">Directory</title>
</head>

<body>
  <section layout:fragment="page-content">
    <h3 th:text="${title}" class="font-weight-normal">Directory</h3>
    <div>
      <a href="parent" th:href="${parentDir}">Go to parent directory</a>
    </div>

    <div id="toolbar">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
    </div>

    <table id="jetty-dir-table" class="table jetty-dir-table" data-toolbar="#toolbar" data-search="true"
      data-toggle="table" data-pagination="true" data-pagination-loop="false" data-page-size="10"
      th:if="${!resources.empty}">
      <thead>
        <tr th:if="${!resources.empty}">
          <th data-sortable="true" data-field="name">Name</th>
          <th data-sortable="true" data-field="last-modified">Last modified</th>
          <th data-sortable="true" data-field="size">Size (in bytes)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="r: ${resources}">
          <td>
            <a href="filename" th:href="${r.path}" th:text="${r.name}">fake</a>
          </td>
          <td th:text="${#dates.formatISO(r.lastModificationTime)}">Last modification time</td>
          <td th:text="${r.sizeInBytes}">Size in bytes</td>

          <td><button th:id="'button-' + ${r.name}" class="add-to-queue-button"> + Add to queue <span
                th:text="${r.name}"> </span></button></td>


        </tr>
      </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <script src="/assets/js/jquery-3.5.0.slim.min.js"></script>
  <script th:inline="javascript">
    $(document).on('click', /*[['#button-' + ${r.name}]]*/, function () {
      $(/*[['#button-' + ${r.name}]]*/).hide();
    });               
  </script>
</body>
</html>