<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
      StoRM WebDAV
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/storm-webdav.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap-table.min.css"
    />
  </head>
  <body class="d-flex flex-column h-100">
    <!-- Javascript -->
    <script src="/assets/js/jquery-3.7.0.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/storm-webdav-mycart.js"></script>
    <script src="/assets/js/bootstrap-table.min.js"></script>

    <main class="flex-shrink-0" role="main">
      <div class="container">
        <header>
          <h1
            class="h3 mb-3 font-weight-normal text-center text-muted"
            th:text="${storm}"
          >
            storm.example
          </h1>
        </header>
        <section layout:fragment="page-content">
          <p>Content goes here</p>
        </section>
      </div>
    </main>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <div th:if="${authnSubject}">
          <div class="float-left">
            <a href="/authn-info" th:text="${authnSubject}"
              >Authenticated user</a
            >
          </div>
          <div
            class="float-right"
            th:if="${authn != null} and ${authn.class.simpleName} != 'PreAuthenticatedAuthenticationToken'"
          >
            <a
              th:if="${authnSubject} and ${authnSubject} != 'Anonymous user'"
              href="/logout"
              >Logout</a
            >
          </div>
          <div
            class="float-right"
            th:if="${authn != null} and ${authn.class.simpleName} == 'PreAuthenticatedAuthenticationToken' and ${oidcEnabled}"
          >
            <a
              th:if="${authnSubject} and ${authnSubject} != 'Anonymous user'"
              href="/oidc-login"
              >Login with OIDC</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      $(function () {
        var goToCartIcon = function ($addTocartBtn) {
          var $cartIcon = $(".my-cart-icon");
          if ($addTocartBtn.data("image")) {
            var $image = $(
              '<img width="30px" height="30px" src="' +
                $addTocartBtn.data("image") +
                '"/>'
            ).css({
              position: "fixed",
              "z-index": "999",
              height: "30px",
              with: "30px",
            });
            $addTocartBtn.prepend($image);

            var position = $cartIcon.position();
            $image.animate(
              {
                top: position.top,
                left: position.left,
              },
              500,
              "linear",
              function () {
                $image.remove();
              }
            );
          }
        };

        $(".my-cart-btn").myCart({
          currencySymbol: "$",
          classCartIcon: "my-cart-icon",
          classCartBadge: "my-cart-badge",
          classProductQuantity: "my-product-quantity",
          classProductRemove: "my-product-remove",
          classCheckoutCart: "my-cart-checkout",
          affixCartIcon: true,
          showCheckoutModal: true,
          numberOfDecimals: 2,
          cartItems: [],
          clickOnAddToCart: function ($addTocart) {
            goToCartIcon($addTocart);
          },
          afterAddOnCart: function (products, totalQuantity) {
            console.log("afterAddOnCart", products, totalQuantity);
          },
          clickOnCartIcon: function ($cartIcon, products, totalQuantity) {
            console.log(
              "cart icon clicked",
              $cartIcon,
              products,
              totalQuantity
            );
          },
          checkoutCart: function (products, totalQuantity) {
            var checkoutString = "Total Quantity: " + totalQuantity;
            checkoutString += "\n\n id \t name";
            $.each(products, function () {
              checkoutString += "\n " + this.id + " \t " + this.name;
            });
            alert(checkoutString);
            console.log("checking out", products, totalQuantity);
          },
        });
      });
    </script>
  </body>
</html>
