<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout.html}">
<head>
<title>Storage areas index</title>
</head>
<body>
  <section layout:fragment="page-content">
    <h3 class="mb-3">Storage areas:</h3>
    <table class="table">
      <tbody>
        <tr th:each="sa: ${saIndexMap}">
          <td>
            <a href="/sa" th:href="@{{ap}(ap=${sa.value})}" th:text="${sa.key}">fake</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</body>
</html>
