# Storm webdav service will run as this user
# Default: storm
STORM_WEBDAV_USER=vagrant

# Java VM options
STORM_WEBDAV_JVM_OPTS="-Xms256m -Xmx512m -XX:MaxPermSize=256m"

# HTTPS connector port
# Default: 8443
STORM_WEBDAV_HTTPS_PORT=8443

# HTTP connector port
# Default: 8085
STORM_WEBDAV_HTTP_PORT=8085

# Path to the service certificate.
# Default: /etc/grid-security/storm-webdav/hostcert.pem
STORM_WEBDAV_CERTIFICATE_PATH="/etc/grid-security/storm-webdav/hostcert.pem"

# Path to the service certificate private key.
# Default: /etc/grid-security/storm-webdav/hostkey.pem
STORM_WEBDAV_PRIVATE_KEY_PATH="/etc/grid-security/storm-webdav/hostkey.pem"

# Trust anchors directory
# Default: /etc/grid-security/certificates
STORM_WEBDAV_TRUST_ANCHORS_DIR="/etc/grid-security/certificates"

# How often (seconds) trust anchors are refreshed from the trust anchors directory
# Default: 86400 (24 hours)
STORM_WEBDAV_TRUST_ANCHORS_REFRESH_INTERVAL=86400

# Max concurrent connections
# Default: 300
STORM_WEBDAV_MAX_CONNECTIONS=300

# Connection queue size
# Default: 900
STORM_WEBDAV_MAX_QUEUE_SIZE=900

# Connector Maximum idle time (in milliseconds)
# Default: 30000 (30 seconds)
STORM_WEBDAV_CONNECTOR_MAX_IDLE_TIME=30000

# Storage area configuration directory
# Default: /etc/storm-webdav
STORM_WEBDAV_SA_CONFIG_DIR="/opt/storm-webdav/etc/storm-webdav/sa.d"

# The webdav server jar. Do not change this unless you know what you are doing.
STORM_WEBDAV_JAR="/opt/storm-webdav/usr/share/java/storm-webdav/storm-webdav-server.jar"

# The StoRM webdav logfile. Do not change this unless you know what you are doing.
STORM_WEBDAV_LOG="/opt/storm-webdav/var/log/storm-webdav/storm-webdav-server.log"

# The StoRM wedav log configuration. Do not change this unless you know what you are doing.
STORM_WEBDAV_LOG_CONFIGURATION="/opt/storm-webdav/etc/storm-webdav/logback.xml"

# The StoRM wedav access log configuration. Do not change this unless you know what you are doing.
STORM_WEBDAV_ACCESS_LOG_CONFIGURATION="/opt/storm-webdav/etc/storm-webdav/logback-access.xml"

# Enables/disables  support for VOMS map files
STORM_WEBDAV_VOMS_MAP_FILES_ENABLE="false"

# Where StoRM WebDAV should look for voms map files. 
STORM_WEBDAV_VOMS_MAP_FILES_CONFIG_DIR="/opt/storm/etc/storm-webdav/voms-map-files"

# VOMS map files refresh period (in seconds)
STORM_WEBDAV_VOMS_MAP_FILES_REFRESH_INTERVAL="21600"

# StoRM WebDAV server debug option. Uncomment this (and restart the service)
# if you want to attach a java debugger to the running server process
# STORM_WEBDAV_DEBUG="y"

# JVM debug port. Used together with STORM_WEBDAV_DEBUG to specify on which
# port the JVM should listen for incoming debugger.
# STORM_WEBDAV_DEBUG_PORT=1044

# JVM debug suspend option. Uncomment this to block the process JVM until a remote
# debugger connects to the debugging port specified with the STORM_WEBDAV_DEBUG_PORT
# option
# STORM_WEBDAV_DEBUG_SUSPEND="y"

# The Java VM that will be used to run the storm wedav service.
# Note that the StoRM WebDAV service requires java 7.
# STORM_WEBDAV_JVM=/usr/lib/jvm/java-1.7.0/bin/java