# SPDX-FileCopyrightText: 2014 Istituto Nazionale di Fisica Nucleare
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=StoRM WebDAV service
After=network.target

[Service]
WorkingDirectory=/etc/storm/webdav
User=storm
Type=exec
ExecStart=java $STORM_WEBDAV_JVM_OPTS \
    -Djava.io.tmpdir=/var/lib/storm-webdav/work \
    -Dlogging.config=${STORM_WEBDAV_LOG_CONFIGURATION} \
    -jar ${STORM_WEBDAV_JAR}
StandardOutput=append:/var/log/storm/webdav/storm-webdav-server.out
StandardError=append:/var/log/storm/webdav/storm-webdav-server.err
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
